<div id="boardWrapper" class="wrapper">

  <app-action-btns [showDelete]="showDelete()" (onAdd)="onAdd($event)" (onDelete)="onDelete()"></app-action-btns>

  <div id="board"  class="board" [ngClass]="{'dragging': isGrabbing()}" 
    (mousedown)="onMouseDownBoard($event)"
    (mouseup)="onMouseUpBoard($event)" 
    (mousemove)="onMouseMove($event)">
    @for (node of nodes(); track node.id) {
      <app-node 
      [id]="node.id" 
      [x]="node.currentPosition().x"
      [y]="node.currentPosition().y" 
      [numberInputs]="node.numberInputs" 
      [numberOutputs]="node.numberOutputs"
      [selected]="node.id === selectedNode()" 
      (onMouseDown)="onMouseDownNodeHandler(node.id,$event)"
      (onMouseDownOutput)="onMouseDownOutputHandler($event)" 
      (onMouseEnterInput)="onMouseEnterInputHandler($event)"
      (onMouseLeaveInput)="onMouseLeaveInputHandler($event)"
      ></app-node>
    }

    @if(tempEdge()!==null){
      <app-edge 
      [isTemporary]="true"
      [selected]="false" 
      (onMouseDownEdge)="null"
      (onClickDelete)="null"
      [position]="{
        x0: tempEdge()!.currStartPosition().x, 
        y0: tempEdge()!.currStartPosition().y, 
        x1: tempEdge()!.currEndPosition().x, 
        y1: tempEdge()!.currEndPosition().y
      }"
      ></app-edge>
    }
    @for (edge of edges(); track edge.id) {
    <ng-container *ngFor="let edge of edges()">
       <app-edge 
      [selected]="selectedEdge() === edge.id"
      [isTemporary]="false"
      [position] = "{ 
      x0: edge.currStartPosition().x, 
      y0: edge.currStartPosition().y, 
      x1: edge.currEndPosition().x, 
      y1: edge.currEndPosition().y 
    }"
      (onMouseDownEdge)="onMouseDownEdgeHandler(edge.id)"
      (onClickDelete)="onClickDeleteEdgeHandler(edge.id)"
      ></app-edge>
    </ng-container>
  }

</div>