<div class="wrapper">
    <button class="btn-delete" (click)="erase()" [ngClass]="{'hidden': !showDelete}">
        <svg fill="currentColor" stroke-width="0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="1em"
            width="1em" style="overflow: visible; color: currentcolor;">
            <path
                d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0h120.4c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64s14.3-32 32-32h96l7.2-14.3zM32 128h384v320c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z">
            </path>
        </svg>
    </button>
    <button class="btn-add" (click)="openDropDown()" #btn_dropdown>
        <svg fill="currentColor" stroke-width="0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="1em"
            width="1em" style="overflow: visible; color: currentcolor;">
            <path d="M14 7v1H8v6H7V8H1V7h6V1h1v6h6z"></path>
        </svg>
    </button>

    <div [ngClass]="{'dropdown':isOpen(), 'dropdown-hidden':!isOpen() }" #dropdown>
        <label class="label">Number of Inputs</label>
        <input type="number" class="input" [(ngModel)]="numInputs" />
        <label class="label">Number of Outputs</label>
        <input type="number" class="input" [(ngModel)]="numOutputs" />
        <button class="btn-add-dropdown" (click)="add()">Add node</button>
    </div>
</div>

<!-- https://solid-icons.vercel.app/search/add -->